#empresas {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#empresas td,
#empresas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#empresas tr:nth-child(even) {
  background-color: #f2f2f2;
}

#empresas tr:hover {
  background-color: #ddd;
}

#empresas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
